/* reset all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: vazir;
    src: url(Fonts/Vazir-Medium.woff);
}

body {
    direction: rtl;
    font-family: vazir;
    font-size: 16px;
}

/* scrollbar */
::-webkit-scrollbar {
    background-color: #f2effd;
    width: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(210, 210, 210);
}

::-webkit-scrollbar-thumb {
    background-color: #674cc4;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* scrollbar */

/* header navbar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #674cc4;
    width: 100%;
    height: 100%;
    max-height: 70px; 
    border-radius: 0 0 30px 30px;
    box-shadow: 0 10px 1px #e2d9ff;
}

.right__navbar {
    display: flex;
    align-items: center;
    height: 70px;
    max-height: 70px; 
}

.logo {
    width: 200px;
    padding: 0 1rem;
    cursor: pointer;
}

.navbar__list {
    display: flex;
    padding: 0 1rem;
}

.navbar__list li {
    list-style: none;
}

.navbar__list a {
    text-decoration: none;
    color: white;
    margin: 0 1.5rem;
    font-size: 14px;
}

.navbar__list a:hover {
    color: #fffb00;
}

.left__navbar {
    display: flex;
    padding: 0 3rem;
}

.searchbar__container {
    position: relative;
}

.left__navbar input {
    width: 270px;
    padding: 0.4rem 0.7rem;
    border: none;
    border-radius: 15px;
    margin: 0 2rem;
    outline: none;
}

.left__navbar input::placeholder {
    font-family: vazir;
    font-size: 13px;
    color: #888888;
    position: absolute;
}

.position__icon {
    position: absolute;
    left: 40px;
    background-color: #e2d9ff;
    color: #674cc4;
    padding: 7.5px 10px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    font-size: 13px;
    cursor: pointer;
}

.serach__icon__size {
    font-size: 18px;
}

.left__navbar a {
    text-decoration: none;
    color: #674cc4;
    background-color: #f2effd;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 500;
}
/* header navbar */

/* main */
.main__container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    margin-inline: auto;
    margin-block: 5rem;
}

/* aside */
.main__container--right {
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 100%;
    height: 100%;
    max-width: 306px;
    max-height: 70px;
    margin: 0.7rem 1rem;
    display: flex;
    align-items: center;
    background-color: #674cc4;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.item div {
    text-align: center;
    position: absolute;
    left: 60px;
}

.item img {
    width: 80px;
    position: absolute;
    top: -10px;
    right: 10px;
}

.item h2 {
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin: 2px 0;
}

.item p {
    font-size: 11px;
    color: white;
}

.long-description {
    position: absolute;
    left: 20px !important; 
}

.special__courses {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 320px;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #bdbdbd;
    z-index: 10;
}

.header__special__courses {
    display: flex;
    position: relative;
    height: 60px;
    z-index: 1;
    border-radius: 20px 20px 0 0;
    background-color: #674cc4;
}

.header__special__courses img {
    position: absolute;
    right: 10px;
    top: -15px;
}

.header__special__courses h2 {
    position: absolute;
    left: 40px;
    margin: 0.3rem;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.special__courses__image {
    background-color: #674cc4;
    max-height: 150px;
}

.special__courses__image img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.special__courses__content {
    display: flex;
    flex-direction: column;
}

.special__courses__content div {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0.3rem;
}

.special__courses__content a {
    color: #007bff;
    font-size: 20px;
    text-decoration: none;
    margin: 0.1rem 0.3rem;
}

.special__courses__content span {
    color: #424242;
    font-size: 13px;
}

.social__media__icons {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.social__media__icons i {
    padding: 0.3rem;
    box-shadow: 3px 3px 8px 8px rgb(220, 220, 220);
    font-size: 35px;
    color: #674cc4;
    transition: 0.3s;
}

.social__media__icons i:hover {
    font-size: 40px;
    color: #5a5a5a;
}
/* aside */

/* main */
.main__container--left {
    width: 100%;
    max-width: 1050px;
}

.banner__container {
    text-align: center;
    margin: 1rem;
}

.banner__container img {
    width: 100%;
    max-width: 930px;
    border-radius: 18px;
}

/* last update */
.last__updates {
    width: 100%;
    max-width: 930px;
    margin-inline: auto;
}

.last__updates__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.last__updates__header h2 {
    font-size: 1rem;
    color: #424242;
}

.last__updates__header a {
    text-decoration: none;
    color: #424242;
    border: 2px solid #424242;
    padding: 0.5rem;
    border-radius: 18px;
    transition: 0.5s;
}

.last__updates__header a:hover {
    background-color: #674cc4;
    color: white;
}

.last__updates__content {
    margin: 1rem 0;
    display: flex;
    gap: 10px;
}

.last__updates__content img {
    width: 100%;
    border-radius: 18px 18px 0 0;
    cursor: pointer;
}

.course {
    width: 100%;
    max-width: 310px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 3px 5px rgb(220, 220, 220);
}

.course__caption {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    gap: 0.3rem;
}

.course__caption a {
    text-decoration: none;
    color: #007bff;
}

.course__caption span {
    font-size: 13px;
    color: #424242;
}

.detail__course {
    display: flex;
    justify-content: space-between;
    color: #424242;
    font-size: 13px;
    margin: 0.5rem;
    margin-block: auto;
}
/* /last update */

/* where to start */
.hero__template {
    width: 100%;
    max-width: 930px;
    margin-inline: auto;
    margin-block: 5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.hero__template__image {
    max-width: 400px;
}

.hero__template__image img {
    width: 100%;
}

.hero__template__content {
    position: relative;
}

.hero__template__content h3 {
    color: #424242;
    margin: 0.5rem;
    font-size: 22px;
}

.hero__template__content p {
    color: #424242;
    margin: 0.5rem 0.8rem;
    font-size: 16px;
}

.hero__template__content a {
    position: absolute;
    bottom: 17px;
    right: 240px;
    text-align: center;
    text-decoration: none;
    background-color: #674cc4;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    transition: 0.3s;
}

.hero__template__content a:hover {
    color: yellow;
}
/* /where to start */

/* last articles */
.last__articles {
    width: 100%;
    max-width: 930px;
    margin-inline: auto;
    margin-block: 5rem;
}

.last__articles__header {
    margin: 2rem;
}

.last__articles__content {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

.article__item {
    box-shadow: 3px 3px 5px rgb(171, 171, 171);
    max-width: 450px;
    display: flex;
    gap: 0.5rem;
    border-radius: 22px;
}

.image__article {
    width: 350px;
}

.image__article img {
    max-width: 100%;
    height: 100%;
    border-radius: 22px;
}

.content__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__article a {
    color: #007bff;
    text-decoration: none;
    margin: 0.3rem;
}

.content__article p {
    font-size: 13px;
    color: #8f8f8f;
    margin: 0 0.3rem;
}

.detail__article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0.5rem;
}

.detail__article span {
    font-size: 12px;
    color: #8f8f8f;
}

.detail__article i {
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 0.1rem;
    display: inline-block;
}
/* /last articles */

/* footer */
.footer {
    margin-top: 5rem;
    width: 100%;
    height: 480px;
    background-color: #4c288f;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 1px 20px #e2d9ff; 
    display: flex;
}

.footer__right__side {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sending__email input {
    width: 255px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    outline: none;
}

.sending__email input::placeholder {
    font-family: vazir;
    color: #8c8c8c;
}

.sending__email a {
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    margin: 1rem;
}

.footer__labels {
    color: white;
}

.footer__labels a {
    color: white;
    text-decoration: none;
}

.footer__labels li {
    margin: 0.8rem;
}

.footer__social__media__icons {
    display: flex;
    color: white;
}

.footer__social__media__icons i {
    color: white;
    font-size: 32px;
    padding: 1rem;
    transition: 0.5s;
}

.footer__social__media__icons i:hover {
    color: yellow;
    font-size: 40px;
}

.footer__left__side {
    margin: 2rem;
    width: 900px;
    position: relative;
}

.enamad__size {
    width: 120px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer__left__side p {
    margin-block: 2rem;
    color: white;
}
/* /footer */


/* responsive */
@media () {
    
}
